/* VARIABLES */
@use "src/assets/styles/variables" as v;

.form {
  width: 100%;
  display: grid;
  place-items: center;
  justify-items: center;
  align-items: center;
  gap: 4rem;
  padding: 7rem 4rem;

  &__contents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    & label {
      display: none;
    }

    & textarea {
      width: calc(66% + 4rem);
      height: 25vh;
      font-size: v.$small-text-size;
      background: none;
      border: none;
      border-top: .1rem solid black;
      border-bottom: .25rem solid black;
      resize: none;
      padding: 1.25rem;
    }

    &-content {
      position: relative;
      width: 33%;
      height: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      & label {
        display: none;
      }

      & input {
        width: 100%;
        height: 100%;
        font-size: v.$small-text-size;
        background: none;
        border: none;
        border-bottom: .25rem solid black;
        padding: 0 1.25rem;
      }

      & i {
        position: absolute;
        top: 50%;
        right: 2.5%;
        transform: translateY(-50%);
        font-size: 2.5rem;
        opacity: .75;
      }

      & button {
        position: relative;
        font-size: v.$text-size;
        letter-spacing: .1rem;
        cursor: pointer;
        transition: all .4s ease;

        &:hover {
          letter-spacing: .25rem;
        }
      }

      &--disable {
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: .25rem;
          background: black;
        }
      }

      &--error {
        width: 100%;
        font-size: v.$text-size;
        text-align: center;
        color: darkred;
      }
    }

    &-instructions {
      position: absolute;
      top: 0;
      left: -10%;
      transform: translate(-100%, -50%);
      text-align: end;
      opacity: .5;
      padding: .5rem;

      &:after {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        content: '';
        width:100%;
        height: .1rem;
        background: black;
      }

      & p {
        font-size: v.$very-small-text-size;
      }
    }
  }
}