# API

# dependencies
api/node_modules/

# IDE
api/.idea
api/.awcache
api/.vscode
api/.devcontainer
api/*.code-workspace

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# bundle
api/packages/**/*.d.ts
api/packages/**/*.js

# misc
api/.DS_Store
api/lerna-debug.log
api/npm-debug.log
api/yarn-error.log
api/**/npm-debug.log
api/packages/**/.npmignore
api/packages/**/LICENSE
api*.tsbuildinfo

# example
api/quick-start
api/example_dist
api/example

# tests
api/test
api/benchmarks/memory
api/coverage
api/.nyc_output
api/packages/graphql
api/benchmarks/memory
api/build/config\.gypi

api/.npmrc
api/pnpm-lock.yaml

# FRONT

# IDE
front/.idea
front/.awcache
front/.vscode
front/.devcontainer
front/*.code-workspace

# Logs
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/dist
front/dist-ssr
front/*.local

# files
front/.DS_Store
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?
