/* VARIABLES */
@use "src/assets/styles/variables" as v;

.auth {
  &__change {
    font-size: v.$text-size;

    &-link {
      font-weight: 900;
      border-bottom: .1rem solid black;
      transition: all .4s ease;
      padding: 0 .25rem;

      &:hover {
        color: white;
        background: black;
      }
    }
  }
}