/* VARIABLES */
// fonts
$primary-font: 'Sora', sans-serif;
$title-font: 'Anton', sans-serif;

// sizes
$title-size: 5.5rem;
$small-title-size: 2.75rem;
$big-text-size: 2rem;
$text-size: 1.75rem;
$small-text-size: 1.5rem;
$very-small-text-size: 1.25rem;